@font-face {font-family: "Parry Hotter";
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot");
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.svg#Parry Hotter") format("svg");
}

body {
  font-family: "Parry Hotter", arial;
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
}
.img {
  //width: 160px;
  height: 220px;
  margin-top: 30px;
}

.list-element {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 250px;
  border: solid 2px black;
  text-align: center;
  padding-bottom: 30px;

}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

