@font-face {font-family: "Parry Hotter";
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot");
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.svg#Parry Hotter") format("svg");
}

body {
  font-family: "Parry Hotter", arial;
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
  margin: 0;
  background-image: url(https://vignette.wikia.nocookie.net/es.harrypotter/images/5/50/Wiki-background/revision/latest?cb=20140824005245);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin: 0;
}
.title {
  font-size: 70px;
  font-weight: normal;
}
.house {
  font-size: 20px;
}
.img {
  //width: 160px;
  height: 220px;
  margin: 30px;
}

.list-element {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 250px;
  border: solid 8px #DAA520;;
  border-radius: 8px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.body-detail {
  display: flex;
  justify-content: center;
  margin: 0;
}

.detail {
  border: 8px solid #DAA520;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.detail-img {
  margin-top: 45px;
  height: 350px;
}

.more {
  font-family: 'Courier New', Courier, monospace;
  color: #DAA520;
  font-size: 18px;
}

.house-img {
  height: 60px;
}

.house-container {
  display: flex;
  justify-content: center;
  

}

.magic-card {
  display: flex;
  flex-direction: column;
}